/* Selected Sidebar */
.sidebar .main .list-item:nth-child(6){
    background-color: #5c8063;
}
.sidebar .main .list-item:nth-child(6) .icon i,
.sidebar .main .list-item:nth-child(6) a{
    color: #fff;
}
/* == End Selected Sidebar == */
.card{
    width: 90%;
    background-color: #445D48;
    margin: 30px auto;
    border-radius: 10px;
    margin-top: 8vh;
    padding-bottom: 10px;
}
.card-header{
    padding: 30px;
    color: #FFB000;
    font-family: var(--default);
    font-size: 30px;
    display: flex;
    justify-content: space-between;
}
.card-header i:hover{
    color: #fff;
    transition: .2s;
}
.table-hover{
    font-family: var(--default);
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
}
.head-table{
    font-size: 14px;
    color: #8a8a8a;
}
.head-table tr{
    width: 100%;
    height: 50px;
}
.head-table th{
    padding: 10px 5px;
    border-left: none;
    text-align: left;
}
/* table header */
.head-table th:nth-child(1){    padding-left: 10px;}
.head-table th:nth-child(2){    width: 150px; text-align: center;}
/* Table data */
.table-body tr{
    border-top: 1px solid #e4e4e4;
    width: 100%;
}
.table-body tr:hover{
    background-color: #f7f7f7;
}
.table-body td:nth-child(1){    padding-left: 30px; color: #797979;}
.table-body td:nth-child(2){    max-width: 150px; }
.table-body td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #b6b6b6;
    font-weight: 400;
    padding: 10px 20px;
    text-align: left;
    font-size: 13px;
}
.table-responsive {
    overflow-y: auto; /* Aktifkan scrolling vertikal */
    max-height: 70vh; /* Atur tinggi maksimum */
    position: relative;
}

.table-hover {
    width: 100%;
}

.head-table th {
    position: sticky;
    top: 0;
    background-color: white;
}

.table-body td {
    padding: 10px;
}