/* Selected Sidebar */
.sidebar .main .list-item.peminjaman-page{
    background-color: #5c8065;
}
.sidebar .main .list-item.peminjaman-page .icon i,
.sidebar .main .list-item.peminjaman-page a{
    color: #fff;
}

/* == End Selected Sidebar == */
.data-konfirmasi{
    display: flex;
    flex-direction: column;
    gap: 0;
}
.kembalikan-hdr,
.pinjam-hdr{
    width: 75vw;
    height: 8vh;
    margin: 20px auto 10px;
    background-color: var(--secondary);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFB000;
}
.pinjam-hdr .header,
.kembalikan-hdr .header{
    font-family: var(--script);
    font-size: 24px;
}
.pinjam-confirm{
    position: relative;
    width: 75vw;
    height: 43vh;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    overflow: hidden;
}
.buku-content{
    flex: 0 0 auto; /* Tetapkan lebar konten buku ke ukuran aslinya */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 5px;
    height: 41vh;
    padding: 5px;
    width: 130px;
}
.buku-content .buku .cover-img{
    background-color: #5c8065;
    border-radius: 3px;
    overflow: hidden;
    width: 100%;
    height: 175px;
}
.buku-content .buku .cover-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.buku-content .buku .book-title{
    margin-top: 2px;
}
.buku-content .buku .book-title .judul{
    font-family: var(--script);
    font-weight: 700;
    font-size: 11px;
    color: #1a1a1a;
}
.buku-content .buku .book-title .peminjam{
    font-family: var(--default);
    font-weight: 600;
    font-size: 11px;
    color: #777;
}
.buku-content .kembalikan-btn{
    background-color: var(--secondary);
    border-radius: 3px;
    height: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: var(--default);
    font-size: 14px;
}
.pinjamScrollbar__rail-x {
    position: absolute; /* Persyaratan 2 */
    bottom: 0; /* Atur posisi scrollbar-x */
    left: 0; /* Atur posisi scrollbar-x */
}
.tableScrollbar__rail-y {
    position: absolute; /* Persyaratan 2 */
    top: 0; /* Atur posisi scrollbar-x */
    right: 0; /* Atur posisi scrollbar-x */
}

/* == End Selected Sidebar == */
.data-peminjaman{
    margin: 15vh 0 2vh;
}
.card{
    width: 90%;
    background-color: #445D48;
    margin: 10px auto;
    border-radius: 10px;
    margin-top: 8vh;
    padding-bottom: 10px;
}
.card-header{
    padding: 30px;
    color: #FFB000;
    font-family: var(--default);
    font-size: 30px;
    display: flex;
    justify-content: space-between;
}
.card-header i:hover{
    color: #fff;
    transition: .2s;
}
.table-hover{
    font-family: var(--default);
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
}
.head-table{
    font-size: 14px;
    color: #8a8a8a;
}
.head-table tr{
    width: 100%;
    height: 50px;
}
.head-table th{
    padding: 10px 5px;
    border-left: none;
    text-align: left;
}
/* table header */
.head-table th:nth-child(1){    padding-left: 10px;}
.head-table th:nth-child(2){    width: 200px; text-align: left;}
.head-table th:nth-child(3){    width: 140px; text-align: center;}
.head-table th:nth-child(4){    width: 80px; text-align: center; padding: 10px;}
.head-table th:nth-child(5){    width: 140px; text-align: center;}
.head-table th:nth-child(6){    width:100px; text-align: center;}
/* Table data */
.table-body tr{
    border-top: 1px solid #e4e4e4;
    width: 100%;
}
.table-body tr:hover{
    background-color: #f7f7f7;
}
.table-body td:nth-child(1){    padding-left: 30px; color: #FFB000; font-weight: 700;}
.table-body td:nth-child(2){    max-width: 200px; }
.table-body td:nth-child(3){    width: 140px; }
.table-body td:nth-child(4){    width: 80px; padding: 10px; }
.table-body td:nth-child(5){    width: 140px; }
.table-body td:nth-child(6){    width: 100px; display: flex;  align-items: center; padding: 10px;}
.table-body td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #b6b6b6;
    font-weight: 600;
    padding: 10px 20px;
    text-align: left;
    font-size: 13px;
}
.table-responsive {
    overflow: hidden;
    max-height: 70vh; /* Atur tinggi maksimum */
    position: relative;
}
.head-table th {
    position: sticky;
    top: 0;
    background-color: white;
}
td .delete {
    padding: 5px 20px;
    background-color: #ffd3d3;
    border-radius: 3px;
    border: 1px solid #ff0909;
    margin-left: 5px;
}
td .delete i{
    color: #ff0909;
    font-size: 14px;
}
.dikembalikan-label{
    width: 100px;
    height: 30px;
    background-color: #cdfff0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    color: #07bb85;
    font-weight: 700;
    border-radius: 5px;
}
.dipinjam-label{
    width: 100px;
    height: 30px;
    background-color: #e2e3fa;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    color: #1b28d8;
    font-weight: 700;
    border-radius: 5px;
}
.tertunda-label{
    width: 100px;
    height: 30px;
    background-color: #dff4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    color: #12b6db;
    font-weight: 700;
    border-radius: 5px;
}
.diajukan-nothing,
.tertunda-nothing {
    text-align: center;
    color: grey;
    font-style: italic;
}
.download-btn{
    font-size: 34px;
    color: #FFB000;
}
.peminjaman-info{
    width: 90%;
    margin: 3vh auto 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.total-peminjaman-cont,
.deadline-cont{
    padding: 20px;
    background-color: #fff;
    width: 48%;
    border-radius: 10px;
}
.total-peminjaman-cont{
    border-left: 5px solid #5c8065;
    text-align: center;
}
.deadline-cont{
    border-left: 5px solid #5c8065;
}
.deadline-hdr{
    font-family: var(--script);
    font-size: 16px;
    color: #445D48;
    font-weight: 500;
}
.deadline-hdr .total-buku{
    margin-left: 10px;
    color: #FFB000;
    font-weight: 600;
}
.deadline-btn{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--default);
    color: #fff;
    background-color: #5c8065;
    border-radius: 5px;
    margin-top: 20px;
}
.total-header{
    font-family: var(--script);
    color: #445D48;
    font-weight: 600;
}
.total-data{
    font-family: var(--default);
    color: #FFB000;
    font-size: 20px;
    margin-top: 20px;
}