.container{
    display: flex;
    min-height: 100vh;
}
.sidebar{
    background-color: #fff;
    width: 260px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    transition: all ease-in .3s;
}
.main-content{
    background-color: #e0e0e0;
    flex-grow: 1;
    overflow: hidden;
    position: relative;
    height: 100vh;
}
.sidebar .logo{
    font-size: 20px;
    line-height: 16px;
    text-align: center;
    color: var(--primary);
    margin-top: 5px;
}
.sidebar .header .list-item{
    display: flex;
    justify-content: center;
    /* flex-direction: row; */
    align-items: center;
    padding: auto;
    height: 35px;
}
.sidebar .header .list-item a{
    display: flex;
    align-items: center;
    margin: 0 auto;
    text-align: left;
}
.sidebar.hide .main .list-item .icon i{
    color: #7daa85;
}
.sidebar .header .ilustration{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}
.sidebar .main .list-item .description{
    font-size: 14px;
    text-align: center;
    margin: auto 0 auto 15px;
}
.sidebar .main .list-item:hover .icon i{
    color: #fff;
}
.sidebar .main .list-item .icon i{
    color: #FFB000;
    font-size: 18px;
}
.sidebar .main .list-item a{
    display: flex;
    align-items: center;
    color: #1a1a1a;
    flex-direction: row;
    justify-content: center;
    letter-spacing: 1px;
}
.sidebar .main .list-item{
    display: flex;
    margin: 10px 0;
    flex-direction: row;
    align-self: center;
    padding: 12px 10px;
    border-radius: 8px;
    font-family: var(--default);
    transition: all ease-in .2s;
}
.sidebar .main .list-item:hover{
    background-color: #9ec5a5;
}
.sidebar .main .list-item:hover a{
    color: #fff;
}
/* Toggle Menu */
.menu-container{
    width: 50px;
    height: 50px;
    margin: 12px;
    background-color: #fff;
    border-radius: 5px;
    position: fixed;
    z-index: 990;
}

/* Perfect Scrollbar */
.mainScrollbar__rail-x{
    position: absolute; /* Persyaratan 2 */
    background-color: transparent; /* Hapus background agar tidak terlihat */
    opacity: 0.5; /* Opacity scrollbar */
    z-index: 1000; /* Pastikan lebih tinggi dari konten */
    width: 10px; /* Atur lebar scrollbar-y */
    top: 0; /* Atur posisi scrollbar-y */
    right: 0; /* Atur posisi scrollbar-y */
}
.navbar{
    width: 95%;
    height: 10vh;
    top: 0;
    position: sticky;
    margin: 0 auto;
    background-color: #fff;
    z-index: 989;
    border-bottom: 3px solid #FFB000;
    border-left: 3px solid #FFB000;
    border-right: 3px solid #FFB000;
    border-radius: 0 0 20px 20px;
}

.nama-user{
    font-family: var(--default);
    font-size: 26px;
    height: 10vh;
    color: #666;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: auto;
}
.logout{
    color: #a3a3a3;
}
.nama-user .label i{
    color: #FFB000;
}