/* Selected Sidebar */
.sidebar .main .list-item:nth-child(3){
    background-color: #5c8063;
}
.sidebar .main .list-item:nth-child(3) .icon i,
.sidebar .main .list-item:nth-child(3) a{
    color: #fff;
}
.sidebar.hide .main .list-item:nth-child(3) .icon i{
    color: #fff;
}
/* == End Selected Sidebar == */
.famous-card{
    margin-top: 15vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}
.famous-card .card-header{
    font-family: var(--script);
    color: #289937;
}
.famous-card .card-container{
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: space-evenly;
    margin-top: 20px;
}
.famous-card .card-container .card{
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-image: radial-gradient( circle 957px at 8.7% 50.5%,  rgba(246,191,13,1) 0%, rgba(249,47,47,1) 90% );    height: 100px;
    border-radius: 20px;
    position: relative;
    padding: 15px 25px 15px 20px;
    margin-top: 35px;
    max-width: 375px;
}
.famous-card .card-container .card .book-cover{
    height: 120px;
    width: 110px;
    background-color: #5c8063;
    position: relative;
    transform: translateY(-50px);
    border-radius: 10px;
    overflow: hidden;
}
.card .books-title {
    font-family: var(--default);
    display: flex;
    flex-direction: column;
    color: #fff;
}
.famous-card .card .judul-buku{
    margin-top: 5px;
    letter-spacing: 1px;
    font-size: 16px;
}
.card .books-title .title{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    justify-content: space-between;
}
.famous-card .card-container .card .book-cover img {
    height: 100%; /* Menentukan tinggi gambar agar mengisi seluruh tinggi elemen parent */
    width: 100%; /* Menentukan lebar gambar agar mengisi seluruh lebar elemen parent */
    object-fit: cover; /* Membuat gambar memenuhi elemen dengan mempertahankan aspek rasio */
}
.bookshelf{
    height: 90vh;
    width: 90%;
    background-color: #fff;
    margin: 15vh auto 0;
    border-radius: 30px 30px 0 0;
    padding: 10px 20px;
}
.bookshelf .books-hdr {
    margin: 40px 20px;
    font-family: var(--script);
    color: #289937;
}
.bookshelf .books-collection{
    width: 100%;
    display: grid;
    grid-template-columns: 6;
    gap: 20px;
}