/* Selected Sidebar */
.sidebar .main .list-item:nth-child(5){
    background-color: #5c8065;
}
.sidebar .main .list-item:nth-child(5) .icon i,
.sidebar .main .list-item:nth-child(5) a{
    color: #fff;
}
.sidebar.hide .main .list-item:nth-child(5) .icon i{
    color: #fff;
}
/* == End Selected Sidebar == */
